{% if not root_items %}
<p>Меню с таким названием не найдено!</p>
{% else %}

<div class="custom-menu-wrapper">

    <nav class="nav-main">

   <!-- Основной блок меню -->
    <ul class="menu-list">
{% for item in root_items %}
        {% if item.level == 1 %}
        <div class="dropdown">
        {% if item.get_url == request.path %}
        <li class="selected-menu-item dropbtn">
        {% else %}
        <li class="dropbtn">
        {% endif %}
            <a href="{{ item.get_url }}">
            {{ item.title }}</a></li>

     <!-- Выпадающее меню -->
      <div class="dropdown-content">
      {% for child in item.children.all %}
        <a href="{{ child.get_url }}">{{ child.title }}</a>
      {% endfor %}
      </div>
        </div>
        {% endif %}

{% endfor %}
    </ul>

        <div class="divide-block"></div>

     <!--Нижний (вложенный) блок меню-->
    <ul class="menu-list">
    {% for item in root_items %}
        {% if item.get_url == request.path and item.children %}

        {% for child in item.children.all %}
        <li class="dropdown">

        <a href="#">{{ child.title }}</a></li>
        {% endfor %}
        {% endif %}


    {% endfor %}
    </ul>
    </nav>
</div>
{% endif %}